---
layout: default
---
<div class="hero">
    <div class="hero__box">
        <h3 class="worship">Worshipping Christ</h3>
        <h3 class="study">Studying God's Word</h3>
        <h3 class="serve">Serving Our Community</h3>
        <h3 class="seek">Seeking to Make Disciples for Jesus Christ</h3>
    </div>
    <p><i class="fi-arrow-down"></i></p>
</div><!--/hero-->
<div class="currentSeries">
    <div class="currentSeries__series">
        <a href="#"><img src="http://placehold.it/240x240" alt="sermon series graphic" class="thumbnail"></a>
    <p>Sunday Morngings @10:30 AM</p>
    <h3><a href="#">Unsearchable Riches in Christ</a></h3>
    <p>A study in the book of Ephesians</p>
    </div><!--/currentSeries__series-->
    <div class="currentSeries__series">
        <a href="#"><img src="http://placehold.it/240x240" alt="sermon series graphic"></a>
    <p>Sunday Morngings @10:30 AM</p>
    <h3><a href="#">Unsearchable Riches in Christ</a></h3>
    <p>A study in the book of Ephesians</p>
    </div><!--/currentSeries__series-->
    <div class="currentSeries__explanation">
        <p>Click either of the links above to listen to recent sermons from these series.</p>
    </div><!--/currentSeries__explanation-->
</div><!--/currentSeries-->
<div class="homeMinistries">
    <h1>Featured Ministries</h1>
    {% for item in site.data.ministries limit: 3 %}
        {% if item.header_image %}
            {% for img in item.header_image %}
                <div class="ministry" style="background: url({{img.url}}) no-repeat center center">
       	    {% endfor%}
        {% else %}
            <div class="ministry" style="background: url(/assets/default_header.jpg) no-repeat center center">
        {% endif %}

        <div class="ministry2">
        <div class="ministry__wrapper">
            <div class="ministry__wrapper2">
        <h2><a href="{{ item.name | datapage_url: 'ministries' | prepend: site.baseurl | prepend: site.url }}">{{item.name}}</a></h2>
        <p>{{item.description | truncate: 140 }}</p>
        <a class="button hollow" href="{{ item.name | datapage_url: 'ministries' | prepend: site.baseurl | prepend: site.url }}">Learn More</a>
    </div><!--/ministry__wrapper2-->
    </div><!--/ministry-wrapper-->
    </div><!--/ministry2-->
    </div><!--/ministry-->
    {% endfor %}
</div><!--/homeMinistries-->
<div class="homeEvents">
    <h2>Next Church Event</h2>
    <div class="homeEvents__explanation">
        <p>There is always something going on at Bible Baptist.  Here is what is coming up next:</p>
        <a href="#" class="button"><i class="fi-info"></i>  View All Events</a>
    </div><!--/homeEvents__explanation-->
    <div class="homeEvents__feature">
        <a href="#"><img src="http://placehold.it/526x297" alt="Calendar Featured Image"></a>
        <h3><a href="#">Church Event Title</a></h3>
        <p class="date">May 25, 2016</p>
    </div><!--/homeEvents__feature-->
</div><!--/homeEvents-->
<div class="homeLinks">
    <ul class="quickLinks">
        <li><a href="#"><i class="fi-torso"></i> Meet Our Pastor</a></li>
        <li><a href="#"><i class="fi-book"></i> Read Blog Posts</a></li>
        <li><a href="#"><i class="fi-map"></i> Get Directions</a></li>
        <li><a href="#"><i class="fi-first-aid"></i> The Gospel</a></li>
    </ul>
</div>
