<footer>
    <div class="footer-wrapper">
        <div class="footer-info">
        <h3>Bible Baptist Church</h3>
        <p>It lives • It speaks • It changes lives</p>
        <div class="address">
            <p><i class="fi-map"></i>  3401 Marion Ave. Mattoon, IL 61938 <br>
                <i class="fi-telephone"></i>  (217) 499-0822 <br>
                <i class="fi-mail"></i>   info@biblebaptistmattoon.org <br>
                <a href="#" title="sign in" class="footer-sign-in"><i class="fi-widget"></i> Manager Sign In</a>
            </p>
        </div><!--/address-->
    </div><!--/footer-info-->
    </div><!--/footer-wrapper-->
</footer>
</div><!--/ off canvas content wrapper-->
</div><!--/off canvas wrapper 2-->
</div><!--/ off canvas wrapper 1-->
<script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
</body>
</html>
