<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
<header>
    <div class="infoBar">
    <h1><a href="#">Bible Baptist Church <span>Mattoon, IL</span></a></h1>
    <div class="service-times">
            <ul class="menu vertical">
                <li>Sunday School<span> 9:30AM</span></li>
                <li>Morning Worship<span>10:30AM</span></li>
                <li>Evening Worship<span> 6:00PM</span></li>
                <li>Wednesday Bible Study<span> 7:00PM</span></li>
            </ul>
    </div><!--/service-times-->
    <div class="contact">
            <p>
                3401 Marion Ave, Mattoon, IL 61938 <br>
                (217) 499-0822 • office@biblebaptistmattoon.org <br>
                <a href="#"><i class="fi-social-facebook"></i> biblebaptistmattoon</a> <a href="#"><i class="fi-social-twitter"></i> BBCmattoon</a>
            </p>
    </div><!--/contact-->

    </div><!--/infoBar-->
<div class="MainNavigation">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="{{ "/welcome.html" | prepend: site.baseurl | prepend: site.url }}">WELCOME</a></li>
            <li><a href="#">ABOUT US</a>
                <ul class="menu">
                {% for p in site.pages %}
                {% if p.group == "about" %}
                    <li><a href="{{p.url}}">{{p.title}}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
            </li><!--/End of About Us-->
            <li><a href="#">MINISTRIES</a>
                <ul class="menu">
                    {% for m in site.ministries %}
                    <li><a href="{{m.url}}">{{m.title}}</a></li>
                    {% endfor %}
                </ul>
            </li><!--/ministries-->
            <li><a href="{{ "/calendar.html" | prepend: site.baseurl | prepend: site.url }}">CALENDAR</a></li>
            <li><a href="#">MEDIA</a>
                <ul class="menu">
                    <li><a href="#">Sermons</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Gallery</a></li>
                </ul>
            </li><!--/media-->
            <li><a href="{{ "/contactus.html" | prepend: site.baseurl | prepend: site.url }}">CONTACT US</a></li>
        </ul><!--.dropdown menu -->
</div><!--/MainNavigation-->
<div class="MobileNavigation">
    <button type="button" data-toggle="offCanvas"> <i class="fi-list"></i></button>
</div>
</header>
<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">
    <ul class="vertical menu" data-drilldown>
    <li><a href="{{ "/welcome.html" | prepend: site.baseurl | prepend: site.url }}">WELCOME</a></li>
    <li><a href="#">ABOUT US</a>
        <ul class="menu">
            {% for p in site.pages %}
                {% if p.group == "about" %}
                    <li><a href="{{p.url}}">{{p.title}}</a></li>
                {% endif %}
                {% endfor %}
        </ul>
    </li><!--/End of About Us-->
    <li><a href="#">MINISTRIES</a>
        <ul class="menu">
             {% for m in site.ministries %}
                    <li><a href="{{m.url}}">{{m.title}}</a></li>
            {% endfor %}
        </ul>
    </li><!--/ministries-->
    <li><a href="{{ "/calendar.html" | prepend: site.baseurl | prepend: site.url }}">CALENDAR</a></li>
    <li><a href="#">MEDIA</a>
        <ul class="menu">
            <li><a href="#">Sermons</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </li><!--/media-->
    <li><a href="{{ "/contactus.html" | prepend: site.baseurl | prepend: site.url }}">CONTACT US</a></li>
</ul><!--.dropdown menu --></div><!--slideout menu-->
<div class="off-canvas-content" data-off-canvas-content>

