---
layout: default
---
{% if page.about-header-image %}
<style>
    .aboutPage__Title {
        background: url({{page.about-header-image}}) no-repeat center center;
    }
</style>
{% endif %}

<div class="aboutPage">
    <div class="aboutPage__Title">
        <h1>{{page.title}}</h1>
    </div><!--/aboutPage__Title-->
    <div class="aboutPage__Content">
    {% if page.about-main-image %}
        <img src="http://placehold.it/900x300" alt="">
    {% endif %}
        <h2>{{ page.title }}</h2>
        {{content}}
    </div><!--/aboutPage__Content-->
</div><!--/aboutPage-->